@media (max-width:1390px) {
    .header {
        padding: 20px 20px;
    }
    .header-right ul {
        padding-right: 50px;
    }
}
@media (max-width:1280px) and (min-width:815px) {
    .header-right ul {
        padding-right: 60px;
    }
    .ppp {
        width: 65%;
        text-align: center;
        padding: 0 20px;
        margin: 0 auto;
    }
}
@media (max-width:1200px) {
    .about-right p {
        width: 470px;
        margin: 0;
        width: 100%;
    }
    
@media (max-width:920px) {
    .service-box {
        width: 50%;
    }
}

@media (max-width:950px) {
    .about-left {
        width: 100%;
        float: inherit;
        margin-right: 0; 
    }
    .about-left img {
        max-width: 100%;
        width: 100%;
    }
    .about-right {
        width: 100%;
        float: inherit;
    }
    .about-right p {
        margin: 0;
        width: 100%;
    }
    .about p {
        width: 100%;
        margin: 0;
    }
}
@media (max-width:800px) {
    .header-left {
        width: 100%;
        float: inherit;
        padding-bottom: 10px;
    }
    a {
        text-align: center;
    }
    .header-right {
        width: 100%;
        float: inherit;
    }
    .header-right ul {
        text-align: center;
    }
    .ppp {
        width: 65%;
        text-align: center;
        padding: 0 20px;
        margin: 0 auto;
    }
    .banner {
        padding: 100px 0;
    }
}

@media (max-width:570px) {
    .header-right ul li a {
        padding: 0 5px;
        line-height: 18px;
    }
}
@media (max-width:520px) {
    .content h1 {
        font-size: 40px;
        padding: 20px 0px;
    }
    .content {
        padding: 0 10px;
    }
    .service-box {
        width: 100%;
    }
}
@media (max-width:430px) {
    .content h1 {
        font-size: 30px;
    }
}